.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@font-face {
  font-family: 'ShareTechMono';
  src: local('ShareTechMono'), url(./fonts/ShareTechMono.otf) format('opentype');
}

@font-face {
  font-family: 'Viafont';
  src: local('CalamityJaneNf-MOWP'), url(./fonts/Viafont.otf) format('opentype');
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav{
  display: block;
  width: 100%;
  height: 3em;
  background-color:#ABD6DFFF;
  position: absolute;
  top:0;
  overflow: hidden;
}


#navlist{
  display: contents;
  font-family:Viafont;
  letter-spacing: 0.2em;
  font-weight: bolder;


}

#online{
  font-size: 2em;
  list-style-type: none;
  position: relative;
  margin-left: 2em;
  margin-top: 0.2em;
}


#divone{
margin-left:4em;
margin-bottom: 2em;
grid-column-start: 1;
}

#tzline{
  margin-top: 3em;
}

#choose{
  font-size: 2em;
}

 #container{
  margin-top: 4em;
  display:grid;
  grid-template-columns:1fr 1fr;
  width:100%;
    
}

#Analog{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 30%;
  margin-top: 7%;

}


#buttonsdiv{
    margin-left:4em;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    max-width:40em;
    justify-content:space-between;
    grid-column-start:1;

}
html{
  background-color:#E7EBE0FF;


} 

p{
  font-family:ShareTechMono;
}

#MeetArange{
  margin-left: 4em;
  margin-top: 1em;
}
#MeetArange input{
  height:20px; 
  width:60px;
  border-radius: 10px;
  border:2px solid #ABD6DFFF;
  padding: 0.1em 1em;
  margin-right: 1em;
}

#inputdiv{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

section li{
  color:white;
}
section h1{
  text-align: center;
  color:white;
}

#modaldiv{
  height: 100%;
  background-color:cornflowerblue;
  border-radius: 10px;
  border:none;
}
#close{
  text-decoration: none;
  text-align: center;
  margin-left: 42%;
  font-size: 4em;
}