.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@font-face {
  font-family: 'ShareTechMono';
  src: local('ShareTechMono'), url(./fonts/ShareTechMono.otf) format('opentype');
}

@font-face {
  font-family: 'Viafont';
  src: local('CalamityJaneNf-MOWP'), url(./fonts/Viafont.otf) format('opentype');
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#navlist{
  display: contents;
  font-family:Viafont;
  letter-spacing: 0.2em;
  font-weight: bolder;


}

#online{
  font-size: 2em;
  list-style-type: none;
  position: relative;
  margin-left: 2em;
  margin-top: 0.1em;
}

#bodywrap{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

#containertop{
  padding-top: 0.4em;
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  width:100%;
  background-color: #ece9e6;
}

#containerbtm{

  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  width:100%;
}

#nav{
  display: block;
  width: 100%;
  height: 3em;
  background-color:steelblue;
  position: absolute;
  top:0;
  overflow: hidden;
}


#divone{
/*    grid-row-start:1;
   grid-row-end:2;*/
padding-top: 1%;
padding-left:0em;
width: 22em;
/*grid-column-start: 1;*/
}

#buttonsdiv{
   margin-top: 4em;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:24em;
}

#Analog{
 align-self: baseline;
 height: 14em;
 width: 18em;

}



#havemeetdiv{
width: 25em;


}


#MeetArange{
  width: 29em;

}
#inputdiv{
  display: flex;
  flex-direction: row;

}


section{
  align-self: stretch;
  margin-top: 18%;
}


#modaldiv{
  height: 100%;
  border-radius: 10px;
  background-color: cornflowerblue;
  border:none;
}

#tzline{
  margin-top: 1em;
}

#choose{
  font-size: 2em;
}





html{
/* background: linear-gradient(to bottom, #ffffff 10%, #ece9e6 55%, gray 15%);*/
 background-repeat: no-repeat;
 background-color: gray;
  /*background: linear-gradient(to right, #ffffff,#ece9e6);*/
} 

p{
  font-family:ShareTechMono;
}

#MeetArange .hourinput{
  height:20px; 
  width:40px;
  text-align: center;
  border-radius: 10px;
  border:2px solid #ABD6DFFF;
  padding: 0.7em 0em;
  margin-right: 0.2em;

}
#MeetArange h1{
    font-family: ShareTechMono;
}





#havemeetpar{
font-size: 2em;
}
#TimeMachine{
  grid-column-start: 1;
  grid-column-end: 3;
}


.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}





section li{
  color:white;

}
section h1{
  text-align: center;
  color:white;
}
section button{
  width:12em;
  background-image:linear-gradient(to right, #181616c4,#402d59);
  border:1px solid black;
}

#close{
  text-decoration: none;
  text-align: center;
  margin-left: 42%;
  font-size: 4em;
}