@font-face {
  font-family: 'ShareTechMono';
  src: local('ShareTechMono'), url(./fonts/ShareTechMono.otf) format('opentype');
}



button{
/*		display: inline;
		justify-content: center;*/
		font-size:0.7em;
		height:3em;
		width:8em;
		margin-right: 1em;
		margin-bottom: 1em;
		text-align:center;
		/*font-family: ShareTechMono;*/	
		font-family: Roboto;
		letter-spacing: 1px;
		font-weight: thin;
		/*margin-right: 1em;*/
		color:white;
		border-radius: 10px;
		background-image:linear-gradient(#1c92d2 ,#1c92d2) ;
		cursor: pointer;
		border:none;
		
}
button:active{
	transform: scale(0.95);

}

*:focus{
	outline: none;
}
