@font-face {
  font-family: 'ShareTechMono';
  src: local('ShareTechMono'), url(./fonts/ShareTechMono.otf) format('opentype');
}



button{
/*		display: inline;
		justify-content: center;*/
		font-size:1em;
		height:3em;
		width:10em;
		text-align:center;
		font-family: ShareTechMono;
		font-weight: bolder;
		margin-right: 1em;
		margin-bottom: 1em;
		border-radius: 20px 10%;
		background: #ABD6DFFF;
		cursor: pointer;
		box-shadow: 1px 1px 10px 2px gray;
}
button:active{
	transform: scale(0.95);

}

*:focus{
	outline: none;
}
